.animeLeft {
  opacity: 0;
  transform: translateY(-20px);
  animation: animeLeft 0.3s forwards;
}

@keyframes animeLeft {
  to {
    opacity: 1;
    transform: initial;
  }
}

.fundo {
  width: 50px;
  height: 50px;
  background-image: url('./img/foto.jpg');
  background-size: cover;
  border-radius: 100%;
}
