.photoPost {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 2rem;
  gap: 2rem;
}

.photoPost #img {
  margin-bottom: 2rem;
}

.preview {
  border-radius: 1rem;
  background-size: cover;
  background-position: center center;
}
.preview::after {
  content: '';
  display: block;
  height: 0px;
  padding-bottom: 100%;
}

.file {
  margin: 1rem;
}
